<header>
    <div class="container-fluid">
        <div class="row" style="height:1.7rem;">
            <div class="col-md-8">
                <img src="/views/img/kyutech.bmp" width="30rem;" class="img-fluid">&nbsp;&nbsp;&nbsp;九州工業大学&nbsp;&nbsp;MaiML&nbsp;Data&nbsp;Viewer</h3>
            </div>
            <div class="col-md-4 align-self-end" style="text-align: right; font-size: 0.8rem;">
                version&nbsp;1.3
            </div>
        </div>
    </div>
</header>

<nav class="navbar navbar-expand-md navbar-light bg-light" style="font-size: 0.8rem; height:1.9rem;">
    <a class="navbar-brand pb-2" href="/" style="font-size: 1.1rem;">HOME</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown" >
        <ul class="navbar-nav" id="navbarNavImport">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Import
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="font-size: 0.7rem;">
                    <li><a class="dropdown-item" id="uploadXmail">Upload File</a></li>
                </ul>
            </li>
        </ul>
     </div>
</nav>
